# 1. 전처리 진행

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 데이터 불러오기
raw = pd.read_csv('../../final_프젝_데이터/서울시_침수흔적도.csv',encoding='utf-8-sig')
raw2 = pd.read_csv('../../final_프젝_데이터/등고선수치.csv',encoding='utf-8-sig')
raw3 = pd.read_csv('../../final_프젝_데이터/서울시_경사.csv',encoding='utf-8-sig')
raw4 = pd.read_csv('../../final_프젝_데이터/서울시_연속지적도.csv',encoding='utf-8-sig')
raw5 = pd.read_csv('../../final_프젝_데이터/하천거리.csv',encoding='utf-8-sig')
raw6 = pd.read_csv('../../final_프젝_데이터/하천면적.csv',encoding='utf-8-sig')

In [3]:
df = raw.copy()
df2 = raw2.copy()
df3 = raw3.copy()
df4 = raw4.copy()
df5 = raw5.copy()
df6 = raw6.copy()

In [4]:
df.head()

,자치구,침수수심,침수원인,침수평균해발고도,침수면적,행정코드,침수시작날짜,침수종료날짜,침수시작시간,침수종료시간,침수내용,주소,침수연도,침수지역정보,지오메트리
0,강북구,0.02,2022년 8.8 ~17. 호우,114.53,3876.0,1130510400,20220808,20220808,18,23,내수침수,서울특별시 강북구 우이동 296-1,2022,주택,"POLYGON ((956425.1271956386 1963792.043624141,..."
1,강북구,0.02,2022년 8.8 ~17. 호우,118.05,2188.0,1130510400,20220808,20220808,18,23,내수침수,서울특별시 강북구 우이동 299-2,2022,주택,"POLYGON ((956590.6408143371 1963700.11134354, ..."
2,강북구,0.02,2022년 8.8 ~17. 호우,129.55,45287.0,1130510400,20220808,20220808,18,23,내수침수,서울특별시 강북구 우이동 산8-15,2022,주택,"POLYGON ((956383.2795007367 1963392.863235048,..."
3,영등포구,0.30,2022년 8.8 ~17. 호우,10.18,53.0,1156010400,20220808,20220810,20,24,내수침수,서울특별시 영등포구 영등포동3가 13-7,2022,상가,"POLYGON ((947842.214000747 1946702.945905377, ..."
4,강북구,0.02,2022년 8.8 ~17. 호우,75.48,105.0,1130510100,20220808,20220808,18,23,내수침수,서울특별시 강북구 미아동 258-241,2022,주택,"POLYGON ((958804.352649358 1958357.276617252, ..."

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9724 entries, 0 to 9723
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   자치구       9724 non-null   object
 1   침수수심      9724 non-null   float64
 2   침수원인      9724 non-null   object
 3   침수평균해발고도  9724 non-null   float64
 4   침수면적      9724 non-null   float64
 5   행정코드      9724 non-null   int64
 6   침수시작날짜    9724 non-null   int64
 7   침수종료날짜    9724 non-null   object
 8   침수시작시간    9724 non-null   int64
 9   침수종료시간    9724 non-null   int64
 10  침수내용      9724 non-null   object
 11  주소        9724 non-null   object
 12  침수연도      9724 non-null   int64
 13  침수지역정보    8668 non-null   object
 14  지오메트리     9724 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 1.1+ MB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13704 entries, 0 to 13703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UFID       13704 non-null  object
 1   구분코드       13704 non-null  object
 2   등고수치       13704 non-null  float64
 3   통합코드       13704 non-null  object
 4   제작정보       13704 non-null  object
 5   둘레_측정값(m)  13704 non-null  float64
dtypes: float64(2), object(4)
memory usage: 642.5+ KB

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899756 entries, 0 to 899755
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   법정동명     899756 non-null  object
 1   지번       899551 non-null  object
 2   기준년월     899756 non-null  object
 3   지형높이코드   899756 non-null  int64
 4   지형높이     899756 non-null  object
 5   공시지가     899756 non-null  int64
 6   데이터기준일자  899756 non-null  object
 7   구단위      899756 non-null  object
dtypes: int64(2), object(6)
memory usage: 54.9+ MB

In [8]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903481 entries, 0 to 903480
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   필지고유번호   903481 non-null  int64
 1   지번       903481 non-null  object
 2   승인여부     903481 non-null  object
 3   원천도형ID   903481 non-null  int64
 4   원천시군구코드  903481 non-null  int64
dtypes: int64(3), object(2)
memory usage: 34.5+ MB

In [9]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정동     426 non-null    object
 1   구단위     426 non-null    object
 2   하천_거리   426 non-null    float64
dtypes: float64(1), object(2)
memory usage: 10.1+ KB

In [10]:
df2.head()

,UFID,구분코드,등고수치,통합코드,제작정보,둘레_측정값(m)
0,1000037709008F00110000000000097632,주곡선,490.0,(볼록지)주곡선,2015001,753.868258
1,1000037709008F00110000000000097633,주곡선,480.0,(볼록지)주곡선,2015001,3409.613338
2,1000037709008F00110000000000097635,주곡선,465.0,(볼록지)주곡선,2015001,3875.317653
3,1000037709008F00110000000000097636,계곡선,475.0,(볼록지)계곡선,2015001,3571.586296
4,1000037709018F00110000000000097643,주곡선,470.0,(볼록지)주곡선,2015001,4500.693987

In [11]:
df3.head()

            법정동명   지번     기준년월  지형높이코드    지형높이     공시지가     데이터기준일자  구단위
0  서울특별시 종로구 청운동    1  2023-01       3     완경사  5320000  2024-01-23  종로구
1  서울특별시 종로구 청운동  1-1  2023-01       0  지정되지않음  1567000  2024-01-23  종로구
2  서울특별시 종로구 청운동  1-2  2023-01       4     급경사  2355000  2024-01-23  종로구
3  서울특별시 종로구 청운동  1-3  2023-01       3     완경사  5104000  2024-01-23  종로구
4  서울특별시 종로구 청운동  1-4  2023-01       0  지정되지않음  1828000  2024-01-23  종로구

In [12]:
df4.head()

                필지고유번호         지번 승인여부  원천도형ID  원천시군구코드
0  1111011000100770013     77-13대    1  161542    11110
1  1111011000100770014     77-14대    1  161543    11110
2  1111017400105950099   595-99 대    1  161544    11110
3  1111017400105950247  595-247 대    1  161545    11110
4  1111011000100020001       2-1대    1  161547    11110

In [13]:
df5.head()

             행정동  구단위        하천_거리
0  서울특별시 종로구 사직동  종로구  1177.805114
1  서울특별시 종로구 삼청동  종로구  2572.845770
2  서울특별시 종로구 부암동  종로구   487.130331
3  서울특별시 종로구 평창동  종로구   945.846607
4  서울특별시 종로구 무악동  종로구  2422.030461

In [14]:
df6.head()

             행정동  구단위  행정동_총_면적(km)  행정동_하천면적(km)    하천면적비율
0  서울특별시 종로구 사직동  종로구      1.859083      0.000000  0.000000
1  서울특별시 종로구 삼청동  종로구      2.171915      0.000000  0.000000
2  서울특별시 종로구 부암동  종로구      3.513782      0.023106  0.006576
3  서울특별시 종로구 평창동  종로구     14.395302      0.050816  0.003530
4  서울특별시 종로구 무악동  종로구      0.745724      0.000000  0.000000

In [15]:
print(df2.info())
print('-'*100)
print(df3.info())
print('-'*100)
print(df4.info())
print('-'*100)
print(df5.info())
print('-'*100)
print(df6.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13704 entries, 0 to 13703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UFID       13704 non-null  object
 1   구분코드       13704 non-null  object
 2   등고수치       13704 non-null  float64
 3   통합코드       13704 non-null  object
 4   제작정보       13704 non-null  object
 5   둘레_측정값(m)  13704 non-null  float64
dtypes: float64(2), object(4)
memory usage: 642.5+ KB
None
----------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899756 entries, 0 to 899755
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   법정동명     899756 non-null  object
 1   지번       899551 non-null  object
 2   기준년월     899756 non-null  object
 3   지형높이코드   899756 non-null  int64
 4   지형높이     899756 non-null  object
 5   공시지가     899756 non-null  int64
 6   데이터기준일자  899756 non-null  object
 7   구단위      899756 non-null  object
dtypes: int64(2), object(6)
memory usage: 54.9+ MB
None
----------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903481 entries, 0 to 903480
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   필지고유번호   903481 non-null  int64
 1   지번       903481 non-null  object
 2   승인여부     903481 non-null  object
 3   원천도형ID   903481 non-null  int64
 4   원천시군구코드  903481 non-null  int64
dtypes: int64(3), object(2)
memory usage: 34.5+ MB
None
----------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정동     426 non-null    object
 1   구단위     426 non-null    object
 2   하천_거리   426 non-null    float64
dtypes: float64(1), object(2)
memory usage: 10.1+ KB
None
----------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   행정동           426 non-null    object
 1   구단위           426 non-null    object
 2   행정동_총_면적(km)  426 non-null    float64
 3   행정동_하천면적(km)  426 non-null    float64
 4   하천면적비율        426 non-null    float64
dtypes: float64(3), object(2)
memory usage: 16.8+ KB
None

In [16]:
df.describe()

,침수수심,침수평균해발고도,침수면적,행정코드,침수시작날짜,침수시작시간,침수종료시간,침수연도
count,9724.000000,9724.000000,9724.000000,9.724000e+03,9.724000e+03,9724.000000,9724.000000,9724.000000
mean,0.387828,21.063774,608.447735,1.155174e+09,2.021489e+07,13.608700,20.078568,2021.593069
std,0.209284,22.549690,2900.942130,1.068064e+07,1.832921e+05,8.125837,7.954268,1.197755
min,0.010000,3.370000,0.210000,1.111010e+09,2.180828e+06,0.000000,0.000000,2016.000000
25%,0.300000,12.300000,103.182500,1.154510e+09,2.022081e+07,1.000000,23.000000,2022.000000
50%,0.300000,16.300000,149.000000,1.156013e+09,2.022081e+07,18.000000,24.000000,2022.000000
75%,0.500000,23.860000,275.000000,1.162010e+09,2.022081e+07,20.000000,24.000000,2022.000000
max,1.800000,1341.660000,113020.000000,1.234568e+09,2.022123e+07,24.000000,24.000000,2022.000000

In [17]:
# 각 데이터 컬럼 통일화 (구단위로 통일)
df.rename(columns={'자치구':'구단위'}, inplace=True)

In [18]:
df.head()

,구단위,침수수심,침수원인,침수평균해발고도,침수면적,행정코드,침수시작날짜,침수종료날짜,침수시작시간,침수종료시간,침수내용,주소,침수연도,침수지역정보,지오메트리
0,강북구,0.02,2022년 8.8 ~17. 호우,114.53,3876.0,1130510400,20220808,20220808,18,23,내수침수,서울특별시 강북구 우이동 296-1,2022,주택,"POLYGON ((956425.1271956386 1963792.043624141,..."
1,강북구,0.02,2022년 8.8 ~17. 호우,118.05,2188.0,1130510400,20220808,20220808,18,23,내수침수,서울특별시 강북구 우이동 299-2,2022,주택,"POLYGON ((956590.6408143371 1963700.11134354, ..."
2,강북구,0.02,2022년 8.8 ~17. 호우,129.55,45287.0,1130510400,20220808,20220808,18,23,내수침수,서울특별시 강북구 우이동 산8-15,2022,주택,"POLYGON ((956383.2795007367 1963392.863235048,..."
3,영등포구,0.30,2022년 8.8 ~17. 호우,10.18,53.0,1156010400,20220808,20220810,20,24,내수침수,서울특별시 영등포구 영등포동3가 13-7,2022,상가,"POLYGON ((947842.214000747 1946702.945905377, ..."
4,강북구,0.02,2022년 8.8 ~17. 호우,75.48,105.0,1130510100,20220808,20220808,18,23,내수침수,서울특별시 강북구 미아동 258-241,2022,주택,"POLYGON ((958804.352649358 1958357.276617252, ..."

In [19]:
# df3 필요없는 컬럼 정리
df3.head()
# 기준년월, 공시지가, 데이터기준일자 필요없음

            법정동명   지번     기준년월  지형높이코드    지형높이     공시지가     데이터기준일자  구단위
0  서울특별시 종로구 청운동    1  2023-01       3     완경사  5320000  2024-01-23  종로구
1  서울특별시 종로구 청운동  1-1  2023-01       0  지정되지않음  1567000  2024-01-23  종로구
2  서울특별시 종로구 청운동  1-2  2023-01       4     급경사  2355000  2024-01-23  종로구
3  서울특별시 종로구 청운동  1-3  2023-01       3     완경사  5104000  2024-01-23  종로구
4  서울특별시 종로구 청운동  1-4  2023-01       0  지정되지않음  1828000  2024-01-23  종로구

In [33]:
# df3 유지할 컬럼 리스트
keep_columns = [
    '법정동명', '지형높이코드',
    '지형높이', '구단위'
]

# 데이터프레임에서 유지할 컬럼만 선택
df3 = df3[keep_columns]

In [21]:
# 결과 확인
df3.head()

            법정동명   지번  지형높이코드    지형높이  구단위
0  서울특별시 종로구 청운동    1       3     완경사  종로구
1  서울특별시 종로구 청운동  1-1       0  지정되지않음  종로구
2  서울특별시 종로구 청운동  1-2       4     급경사  종로구
3  서울특별시 종로구 청운동  1-3       3     완경사  종로구
4  서울특별시 종로구 청운동  1-4       0  지정되지않음  종로구

In [22]:
# 컬럼 위치 변경 함수
def move_column(df, col_name, new_index):
    cols = list(df.columns)
    cols.insert(new_index, cols.pop(cols.index(col_name)))
    return df[cols]

df3 = move_column(df3, '구단위', 0)

In [23]:
df3.head()

   구단위           법정동명   지번  지형높이코드    지형높이
0  종로구  서울특별시 종로구 청운동    1       3     완경사
1  종로구  서울특별시 종로구 청운동  1-1       0  지정되지않음
2  종로구  서울특별시 종로구 청운동  1-2       4     급경사
3  종로구  서울특별시 종로구 청운동  1-3       3     완경사
4  종로구  서울특별시 종로구 청운동  1-4       0  지정되지않음

In [24]:
df.head()

,구단위,침수수심,침수원인,침수평균해발고도,침수면적,행정코드,침수시작날짜,침수종료날짜,침수시작시간,침수종료시간,침수내용,주소,침수연도,침수지역정보,지오메트리
0,강북구,0.02,2022년 8.8 ~17. 호우,114.53,3876.0,1130510400,20220808,20220808,18,23,내수침수,서울특별시 강북구 우이동 296-1,2022,주택,"POLYGON ((956425.1271956386 1963792.043624141,..."
1,강북구,0.02,2022년 8.8 ~17. 호우,118.05,2188.0,1130510400,20220808,20220808,18,23,내수침수,서울특별시 강북구 우이동 299-2,2022,주택,"POLYGON ((956590.6408143371 1963700.11134354, ..."
2,강북구,0.02,2022년 8.8 ~17. 호우,129.55,45287.0,1130510400,20220808,20220808,18,23,내수침수,서울특별시 강북구 우이동 산8-15,2022,주택,"POLYGON ((956383.2795007367 1963392.863235048,..."
3,영등포구,0.30,2022년 8.8 ~17. 호우,10.18,53.0,1156010400,20220808,20220810,20,24,내수침수,서울특별시 영등포구 영등포동3가 13-7,2022,상가,"POLYGON ((947842.214000747 1946702.945905377, ..."
4,강북구,0.02,2022년 8.8 ~17. 호우,75.48,105.0,1130510100,20220808,20220808,18,23,내수침수,서울특별시 강북구 미아동 258-241,2022,주택,"POLYGON ((958804.352649358 1958357.276617252, ..."

In [25]:
# df 유지할 컬럼 리스트
keep_columns = [
    '구단위', '침수수심', '침수원인',
    '침수평균해발고도', '침수면적', 
    '침수시작날짜', '침수종료날짜', 
    '침수시작시간', '침수종료시간',
    '침수내용', '주소', 
    '행정코드', 
    '침수연도', '침수지역정보',
    '지오메트리'
]

# 데이터프레임에서 유지할 컬럼만 선택
df = df[keep_columns]

In [26]:
df.head()

,구단위,침수수심,침수원인,침수평균해발고도,침수면적,침수시작날짜,침수종료날짜,침수시작시간,침수종료시간,침수내용,주소,행정코드,침수연도,침수지역정보,지오메트리
0,강북구,0.02,2022년 8.8 ~17. 호우,114.53,3876.0,20220808,20220808,18,23,내수침수,서울특별시 강북구 우이동 296-1,1130510400,2022,주택,"POLYGON ((956425.1271956386 1963792.043624141,..."
1,강북구,0.02,2022년 8.8 ~17. 호우,118.05,2188.0,20220808,20220808,18,23,내수침수,서울특별시 강북구 우이동 299-2,1130510400,2022,주택,"POLYGON ((956590.6408143371 1963700.11134354, ..."
2,강북구,0.02,2022년 8.8 ~17. 호우,129.55,45287.0,20220808,20220808,18,23,내수침수,서울특별시 강북구 우이동 산8-15,1130510400,2022,주택,"POLYGON ((956383.2795007367 1963392.863235048,..."
3,영등포구,0.30,2022년 8.8 ~17. 호우,10.18,53.0,20220808,20220810,20,24,내수침수,서울특별시 영등포구 영등포동3가 13-7,1156010400,2022,상가,"POLYGON ((947842.214000747 1946702.945905377, ..."
4,강북구,0.02,2022년 8.8 ~17. 호우,75.48,105.0,20220808,20220808,18,23,내수침수,서울특별시 강북구 미아동 258-241,1130510100,2022,주택,"POLYGON ((958804.352649358 1958357.276617252, ..."

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9724 entries, 0 to 9723
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구단위       9724 non-null   object
 1   침수수심      9724 non-null   float64
 2   침수원인      9724 non-null   object
 3   침수평균해발고도  9724 non-null   float64
 4   침수면적      9724 non-null   float64
 5   침수시작날짜    9724 non-null   int64
 6   침수종료날짜    9724 non-null   object
 7   침수시작시간    9724 non-null   int64
 8   침수종료시간    9724 non-null   int64
 9   침수내용      9724 non-null   object
 10  주소        9724 non-null   object
 11  행정코드      9724 non-null   int64
 12  침수연도      9724 non-null   int64
 13  침수지역정보    8668 non-null   object
 14  지오메트리     9724 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 1.1+ MB

In [28]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899756 entries, 0 to 899755
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   구단위     899756 non-null  object
 1   법정동명    899756 non-null  object
 2   지번      899551 non-null  object
 3   지형높이코드  899756 non-null  int64
 4   지형높이    899756 non-null  object
dtypes: int64(1), object(4)
memory usage: 34.3+ MB

In [29]:
df3.head()

   구단위           법정동명   지번  지형높이코드    지형높이
0  종로구  서울특별시 종로구 청운동    1       3     완경사
1  종로구  서울특별시 종로구 청운동  1-1       0  지정되지않음
2  종로구  서울특별시 종로구 청운동  1-2       4     급경사
3  종로구  서울특별시 종로구 청운동  1-3       3     완경사
4  종로구  서울특별시 종로구 청운동  1-4       0  지정되지않음

In [30]:
seoul_districts = {
    '서울특별시': '1100000000',
    '서울특별시 종로구': '1111000000',
    '서울특별시 종로구 청운동': '1111010100',
    '서울특별시 종로구 신교동': '1111010200',
    '서울특별시 종로구 궁정동': '1111010300',
    '서울특별시 종로구 효자동': '1111010400',
    '서울특별시 종로구 창성동': '1111010500',
    '서울특별시 종로구 통의동': '1111010600',
    '서울특별시 종로구 적선동': '1111010700',
    '서울특별시 종로구 통인동': '1111010800',
    '서울특별시 종로구 누상동': '1111010900',
    '서울특별시 종로구 누하동': '1111011000',
    '서울특별시 종로구 옥인동': '1111011100',
    '서울특별시 종로구 체부동': '1111011200',
    '서울특별시 종로구 필운동': '1111011300',
    '서울특별시 종로구 내자동': '1111011400',
    '서울특별시 종로구 사직동': '1111011500',
    '서울특별시 종로구 도렴동': '1111011600',
    '서울특별시 종로구 당주동': '1111011700',
    '서울특별시 종로구 내수동': '1111011800',
    '서울특별시 종로구 세종로': '1111011900',
    '서울특별시 종로구 신문로1가': '1111012000',
    '서울특별시 종로구 신문로2가': '1111012100',
    '서울특별시 종로구 청진동': '1111012200',
    '서울특별시 종로구 서린동': '1111012300',
    '서울특별시 종로구 수송동': '1111012400',
    '서울특별시 종로구 중학동': '1111012500',
    '서울특별시 종로구 종로1가': '1111012600',
    '서울특별시 종로구 공평동': '1111012700',
    '서울특별시 종로구 관훈동': '1111012800',
    '서울특별시 종로구 견지동': '1111012900',
    '서울특별시 종로구 와룡동': '1111013000',
    '서울특별시 종로구 권농동': '1111013100',
    '서울특별시 종로구 운니동': '1111013200',
    '서울특별시 종로구 익선동': '1111013300',
    '서울특별시 종로구 경운동': '1111013400',
    '서울특별시 종로구 관철동': '1111013500',
    '서울특별시 종로구 인사동': '1111013600',
    '서울특별시 종로구 낙원동': '1111013700',
    '서울특별시 종로구 종로2가': '1111013800',
    '서울특별시 종로구 팔판동': '1111013900',
    '서울특별시 종로구 삼청동': '1111014000',
    '서울특별시 종로구 안국동': '1111014100',
    '서울특별시 종로구 소격동': '1111014200',
    '서울특별시 종로구 화동': '1111014300',
    '서울특별시 종로구 사간동': '1111014400',
    '서울특별시 종로구 송현동': '1111014500',
    '서울특별시 종로구 가회동': '1111014600',
    '서울특별시 종로구 재동': '1111014700',
    '서울특별시 종로구 계동': '1111014800',
    '서울특별시 종로구 원서동': '1111014900',
    '서울특별시 종로구 훈정동': '1111015000',
    '서울특별시 종로구 묘동': '1111015100',
    '서울특별시 종로구 봉익동': '1111015200',
    '서울특별시 종로구 돈의동': '1111015300',
    '서울특별시 종로구 장사동': '1111015400',
    '서울특별시 종로구 관수동': '1111015500',
    '서울특별시 종로구 종로3가': '1111015600',
    '서울특별시 종로구 인의동': '1111015700',
    '서울특별시 종로구 예지동': '1111015800',
    '서울특별시 종로구 원남동': '1111015900',
    '서울특별시 종로구 연지동': '1111016000',
    '서울특별시 종로구 종로4가': '1111016100',
    '서울특별시 종로구 효제동': '1111016200',
    '서울특별시 종로구 종로5가': '1111016300',
    '서울특별시 종로구 종로6가': '1111016400',
    '서울특별시 종로구 이화동': '1111016500',
    '서울특별시 종로구 연건동': '1111016600',
    '서울특별시 종로구 충신동': '1111016700',
    '서울특별시 종로구 동숭동': '1111016800',
    '서울특별시 종로구 혜화동': '1111016900',
    '서울특별시 종로구 명륜1가': '1111017000',
    '서울특별시 종로구 명륜2가': '1111017100',
    '서울특별시 종로구 명륜4가': '1111017200',
    '서울특별시 종로구 명륜3가': '1111017300',
    '서울특별시 종로구 창신동': '1111017400',
    '서울특별시 종로구 숭인동': '1111017500',
    '서울특별시 종로구 교남동': '1111017600',
    '서울특별시 종로구 평동': '1111017700',
    '서울특별시 종로구 송월동': '1111017800',
    '서울특별시 종로구 홍파동': '1111017900',
    '서울특별시 종로구 교북동': '1111018000',
    '서울특별시 종로구 행촌동': '1111018100',
    '서울특별시 종로구 구기동': '1111018200',
    '서울특별시 종로구 평창동': '1111018300',
    '서울특별시 종로구 부암동': '1111018400',
    '서울특별시 종로구 홍지동': '1111018500',
    '서울특별시 종로구 신영동': '1111018600',
    '서울특별시 종로구 무악동': '1111018700',
    '서울특별시 중구': '1114000000',
    '서울특별시 중구 무교동': '1114010100',
    '서울특별시 중구 다동': '1114010200',
    '서울특별시 중구 태평로1가': '1114010300',
    '서울특별시 중구 을지로1가': '1114010400',
    '서울특별시 중구 을지로2가': '1114010500',
    '서울특별시 중구 남대문로1가': '1114010600',
    '서울특별시 중구 삼각동': '1114010700',
    '서울특별시 중구 수하동': '1114010800',
    '서울특별시 중구 장교동': '1114010900',
    '서울특별시 중구 수표동': '1114011000',
    '서울특별시 중구 소공동': '1114011100',
    '서울특별시 중구 남창동': '1114011200',
    '서울특별시 중구 북창동': '1114011300',
    '서울특별시 중구 태평로2가': '1114011400',
    '서울특별시 중구 남대문로2가': '1114011500',
    '서울특별시 중구 남대문로3가': '1114011600',
    '서울특별시 중구 남대문로4가': '1114011700',
    '서울특별시 중구 남대문로5가': '1114011800',
    '서울특별시 중구 봉래동1가': '1114011900',
    '서울특별시 중구 봉래동2가': '1114012000',
    '서울특별시 중구 회현동1가': '1114012100',
    '서울특별시 중구 회현동2가': '1114012200',
    '서울특별시 중구 회현동3가': '1114012300',
    '서울특별시 중구 충무로1가': '1114012400',
    '서울특별시 중구 충무로2가': '1114012500',
    '서울특별시 중구 명동1가': '1114012600',
    '서울특별시 중구 명동2가': '1114012700',
    '서울특별시 중구 남산동1가': '1114012800',
    '서울특별시 중구 남산동2가': '1114012900',
    '서울특별시 중구 남산동3가': '1114013000',
    '서울특별시 중구 저동1가': '1114013100',
    '서울특별시 중구 충무로4가': '1114013200',
    '서울특별시 중구 충무로5가': '1114013300',
    '서울특별시 중구 인현동2가': '1114013400',
    '서울특별시 중구 예관동': '1114013500',
    '서울특별시 중구 묵정동': '1114013600',
    '서울특별시 중구 필동1가': '1114013700',
    '서울특별시 중구 필동2가': '1114013800',
    '서울특별시 중구 필동3가': '1114013900',
    '서울특별시 중구 남학동': '1114014000',
    '서울특별시 중구 주자동': '1114014100',
    '서울특별시 중구 예장동': '1114014200',
    '서울특별시 중구 장충동1가': '1114014300',
    '서울특별시 중구 장충동2가': '1114014400',
    '서울특별시 중구 광희동1가': '1114014500',
    '서울특별시 중구 광희동2가': '1114014600',
    '서울특별시 중구 쌍림동': '1114014700',
    '서울특별시 중구 을지로6가': '1114014800',
    '서울특별시 중구 을지로7가': '1114014900',
    '서울특별시 중구 을지로4가': '1114015000',
    '서울특별시 중구 을지로5가': '1114015100',
    '서울특별시 중구 주교동': '1114015200',
    '서울특별시 중구 방산동': '1114015300',
    '서울특별시 중구 오장동': '1114015400',
    '서울특별시 중구 을지로3가': '1114015500',
    '서울특별시 중구 입정동': '1114015600',
    '서울특별시 중구 산림동': '1114015700',
    '서울특별시 중구 충무로3가': '1114015800',
    '서울특별시 중구 초동': '1114015900',
    '서울특별시 중구 인현동1가': '1114016000',
    '서울특별시 중구 저동2가': '1114016100',
    '서울특별시 중구 신당동': '1114016200',
    '서울특별시 중구 흥인동': '1114016300',
    '서울특별시 중구 무학동': '1114016400',
    '서울특별시 중구 황학동': '1114016500',
    '서울특별시 중구 서소문동': '1114016600',
    '서울특별시 중구 정동': '1114016700',
    '서울특별시 중구 순화동': '1114016800',
    '서울특별시 중구 의주로1가': '1114016900',
    '서울특별시 중구 충정로1가': '1114017000',
    '서울특별시 중구 중림동': '1114017100',
    '서울특별시 중구 의주로2가': '1114017200',
    '서울특별시 중구 만리동1가': '1114017300',
    '서울특별시 중구 만리동2가': '1114017400',
    '서울특별시 용산구': '1117000000',
    '서울특별시 용산구 후암동': '1117010100',
    '서울특별시 용산구 용산동2가': '1117010200',
    '서울특별시 용산구 용산동4가': '1117010300',
    '서울특별시 용산구 갈월동': '1117010400',
    '서울특별시 용산구 남영동': '1117010500',
    '서울특별시 용산구 용산동1가': '1117010600',
    '서울특별시 용산구 동자동': '1117010700',
    '서울특별시 용산구 서계동': '1117010800',
    '서울특별시 용산구 청파동1가': '1117010900',
    '서울특별시 용산구 청파동2가': '1117011000',
    '서울특별시 용산구 청파동3가': '1117011100',
    '서울특별시 용산구 원효로1가': '1117011200',
    '서울특별시 용산구 원효로2가': '1117011300',
    '서울특별시 용산구 신창동': '1117011400',
    '서울특별시 용산구 산천동': '1117011500',
    '서울특별시 용산구 청암동': '1117011600',
    '서울특별시 용산구 원효로3가': '1117011700',
    '서울특별시 용산구 원효로4가': '1117011800',
    '서울특별시 용산구 효창동': '1117011900',
    '서울특별시 용산구 도원동': '1117012000',
    '서울특별시 용산구 용문동': '1117012100',
    '서울특별시 용산구 문배동': '1117012200',
    '서울특별시 용산구 신계동': '1117012300',
    '서울특별시 용산구 한강로1가': '1117012400',
    '서울특별시 용산구 한강로2가': '1117012500',
    '서울특별시 용산구 용산동3가': '1117012600',
    '서울특별시 용산구 용산동5가': '1117012700',
    '서울특별시 용산구 한강로3가': '1117012800',
    '서울특별시 용산구 이촌동': '1117012900',
    '서울특별시 용산구 이태원동': '1117013000',
    '서울특별시 용산구 한남동': '1117013100',
    '서울특별시 용산구 동빙고동': '1117013200',
    '서울특별시 용산구 서빙고동': '1117013300',
    '서울특별시 용산구 주성동': '1117013400',
    '서울특별시 용산구 용산동6가': '1117013500',
    '서울특별시 용산구 보광동': '1117013600',
    '서울특별시 성동구': '1120000000',
    '서울특별시 성동구 상왕십리동': '1120010100',
    '서울특별시 성동구 하왕십리동': '1120010200',
    '서울특별시 성동구 홍익동': '1120010300',
    '서울특별시 성동구 도선동': '1120010400',
    '서울특별시 성동구 마장동': '1120010500',
    '서울특별시 성동구 사근동': '1120010600',
    '서울특별시 성동구 행당동': '1120010700',
    '서울특별시 성동구 응봉동': '1120010800',
    '서울특별시 성동구 금호동1가': '1120010900',
    '서울특별시 성동구 금호동2가': '1120011000',
    '서울특별시 성동구 금호동3가': '1120011100',
    '서울특별시 성동구 금호동4가': '1120011200',
    '서울특별시 성동구 옥수동': '1120011300',
    '서울특별시 성동구 성수동1가': '1120011400',
    '서울특별시 성동구 성수동2가': '1120011500',
    '서울특별시 성동구 송정동': '1120011800',
    '서울특별시 성동구 용답동': '1120012200',
    '서울특별시 광진구': '1121500000',
    '서울특별시 광진구 중곡동': '1121510100',
    '서울특별시 광진구 능동': '1121510200',
    '서울특별시 광진구 구의동': '1121510300',
    '서울특별시 광진구 광장동': '1121510400',
    '서울특별시 광진구 자양동': '1121510500',
    '서울특별시 광진구 화양동': '1121510700',
    '서울특별시 광진구 군자동': '1121510900',
    '서울특별시 동대문구': '1123000000',
    '서울특별시 동대문구 신설동': '1123010100',
    '서울특별시 동대문구 용두동': '1123010200',
    '서울특별시 동대문구 제기동': '1123010300',
    '서울특별시 동대문구 전농동': '1123010400',
    '서울특별시 동대문구 답십리동': '1123010500',
    '서울특별시 동대문구 장안동': '1123010600',
    '서울특별시 동대문구 청량리동': '1123010700',
    '서울특별시 동대문구 회기동': '1123010800',
    '서울특별시 동대문구 휘경동': '1123010900',
    '서울특별시 동대문구 이문동': '1123011000',
    '서울특별시 중랑구': '1126000000',
    '서울특별시 중랑구 면목동': '1126010100',
    '서울특별시 중랑구 상봉동': '1126010200',
    '서울특별시 중랑구 중화동': '1126010300',
    '서울특별시 중랑구 묵동': '1126010400',
    '서울특별시 중랑구 망우동': '1126010500',
    '서울특별시 중랑구 신내동': '1126010600',
    '서울특별시 성북구 성북동': '1129010100',
    '서울특별시 성북구 성북동1가': '1129010200',
    '서울특별시 성북구 돈암동': '1129010300',
    '서울특별시 성북구 동소문동1가': '1129010400',
    '서울특별시 성북구 동소문동2가': '1129010500',
    '서울특별시 성북구 동소문동3가': '1129010600',
    '서울특별시 성북구 동소문동4가': '1129010700',
    '서울특별시 성북구 동소문동5가': '1129010800',
    '서울특별시 성북구 동소문동6가': '1129010900',
    '서울특별시 성북구 동소문동7가': '1129011000',
    '서울특별시 성북구 삼선동1가': '1129011100',
    '서울특별시 성북구 삼선동2가': '1129011200',
    '서울특별시 성북구 삼선동3가': '1129011300',
    '서울특별시 성북구 삼선동4가': '1129011400',
    '서울특별시 성북구 삼선동5가': '1129011500',
    '서울특별시 성북구 동선동1가': '1129011600',
    '서울특별시 성북구 동선동2가': '1129011700',
    '서울특별시 성북구 동선동3가': '1129011800',
    '서울특별시 성북구 동선동4가': '1129011900',
    '서울특별시 성북구 동선동5가': '1129012000',
    '서울특별시 성북구 안암동1가': '1129012100',
    '서울특별시 성북구 안암동2가': '1129012200',
    '서울특별시 성북구 안암동3가': '1129012300',
    '서울특별시 성북구 안암동4가': '1129012400',
    '서울특별시 성북구 안암동5가': '1129012500',
    '서울특별시 성북구 보문동4가': '1129012600',
    '서울특별시 성북구 보문동5가': '1129012700',
    '서울특별시 성북구 보문동6가': '1129012800',
    '서울특별시 성북구 보문동7가': '1129012900',
    '서울특별시 성북구 보문동1가': '1129013000',
    '서울특별시 성북구 보문동2가': '1129013100',
    '서울특별시 성북구 보문동3가': '1129013200',
    '서울특별시 성북구 정릉동': '1129013300',
    '서울특별시 성북구 길음동': '1129013400',
    '서울특별시 성북구 종암동': '1129013500',
    '서울특별시 성북구 하월곡동': '1129013600',
    '서울특별시 성북구 상월곡동': '1129013700',
    '서울특별시 성북구 장위동': '1129013800',
    '서울특별시 성북구 석관동': '1129013900',
    '서울특별시 강북구': '1130500000',
    '서울특별시 강북구 미아동': '1130510100',
    '서울특별시 강북구 번동': '1130510200',
    '서울특별시 강북구 수유동': '1130510300',
    '서울특별시 강북구 우이동': '1130510400',
    '서울특별시 도봉구': '1132000000',
    '서울특별시 도봉구 쌍문동': '1132010500',
    '서울특별시 도봉구 방학동': '1132010600',
    '서울특별시 도봉구 창동': '1132010700',
    '서울특별시 도봉구 도봉동': '1132010800',
    '서울특별시 노원구': '1135000000',
    '서울특별시 노원구 월계동': '1135010200',
    '서울특별시 노원구 공릉동': '1135010300',
    '서울특별시 노원구 하계동': '1135010400',
    '서울특별시 노원구 상계동': '1135010500',
    '서울특별시 노원구 중계동': '1135010600',
    '서울특별시 은평구': '1138000000',
    '서울특별시 은평구 수색동': '1138010100',
    '서울특별시 은평구 녹번동': '1138010200',
    '서울특별시 은평구 불광동': '1138010300',
    '서울특별시 은평구 갈현동': '1138010400',
    '서울특별시 은평구 구산동': '1138010500',
    '서울특별시 은평구 대조동': '1138010600',
    '서울특별시 은평구 응암동': '1138010700',
    '서울특별시 은평구 역촌동': '1138010800',
    '서울특별시 은평구 신사동': '1138010900',
    '서울특별시 은평구 증산동': '1138011000',
    '서울특별시 은평구 진관동': '1138011400',
    '서울특별시 서대문구': '1141000000',
    '서울특별시 서대문구 충정로2가': '1141010100',
    '서울특별시 서대문구 충정로3가': '1141010200',
    '서울특별시 서대문구 합동': '1141010300',
    '서울특별시 서대문구 미근동': '1141010400',
    '서울특별시 서대문구 냉천동': '1141010500',
    '서울특별시 서대문구 천연동': '1141010600',
    '서울특별시 서대문구 옥천동': '1141010700',
    '서울특별시 서대문구 영천동': '1141010800',
    '서울특별시 서대문구 현저동': '1141010900',
    '서울특별시 서대문구 북아현동': '1141011000',
    '서울특별시 서대문구 홍제동': '1141011100',
    '서울특별시 서대문구 대현동': '1141011200',
    '서울특별시 서대문구 대신동': '1141011300',
    '서울특별시 서대문구 신촌동': '1141011400',
    '서울특별시 서대문구 봉원동': '1141011500',
    '서울특별시 서대문구 창천동': '1141011600',
    '서울특별시 서대문구 연희동': '1141011700',
    '서울특별시 서대문구 홍은동': '1141011800',
    '서울특별시 서대문구 북가좌동': '1141011900',
    '서울특별시 서대문구 남가좌동': '1141012000',
    '서울특별시 마포구 아현동': '1144010100',
    '서울특별시 마포구 공덕동': '1144010200',
    '서울특별시 마포구 신공덕동': '1144010300',
    '서울특별시 마포구 도화동': '1144010400',
    '서울특별시 마포구 용강동': '1144010500',
    '서울특별시 마포구 토정동': '1144010600',
    '서울특별시 마포구 마포동': '1144010700',
    '서울특별시 마포구 대흥동': '1144010800',
    '서울특별시 마포구 염리동': '1144010900',
    '서울특별시 마포구 노고산동': '1144011000',
    '서울특별시 마포구 신수동': '1144011100',
    '서울특별시 마포구 현석동': '1144011200',
    '서울특별시 마포구 구수동': '1144011300',
    '서울특별시 마포구 창전동': '1144011400',
    '서울특별시 마포구 상수동': '1144011500',
    '서울특별시 마포구 하중동': '1144011600',
    '서울특별시 마포구 신정동': '1144011700',
    '서울특별시 마포구 당인동': '1144011800',
    '서울특별시 마포구 서교동': '1144012000',
    '서울특별시 마포구 동교동': '1144012100',
    '서울특별시 마포구 합정동': '1144012200',
    '서울특별시 마포구 망원동': '1144012300',
    '서울특별시 마포구 연남동': '1144012400',
    '서울특별시 마포구 성산동': '1144012500',
    '서울특별시 마포구 중동': '1144012600',
    '서울특별시 마포구 상암동': '1144012700',
    '서울특별시 양천구': '1147000000',
    '서울특별시 양천구 신정동': '1147010100',
    '서울특별시 양천구 목동': '1147010200',
    '서울특별시 양천구 신월동': '1147010300',
    '서울특별시 강서구': '1150000000',
    '서울특별시 강서구 염창동': '1150010100',
    '서울특별시 강서구 등촌동': '1150010200',
    '서울특별시 강서구 화곡동': '1150010300',
    '서울특별시 강서구 가양동': '1150010400',
    '서울특별시 강서구 마곡동': '1150010500',
    '서울특별시 강서구 내발산동': '1150010600',
    '서울특별시 강서구 외발산동': '1150010700',
    '서울특별시 강서구 공항동': '1150010800',
    '서울특별시 강서구 방화동': '1150010900',
    '서울특별시 강서구 개화동': '1150011000',
    '서울특별시 강서구 과해동': '1150011100',
    '서울특별시 강서구 오곡동': '1150011200',
    '서울특별시 강서구 오쇠동': '1150011300',
    '서울특별시 구로구': '1153000000',
    '서울특별시 구로구 신도림동': '1153010100',
    '서울특별시 구로구 구로동': '1153010200',
    '서울특별시 구로구 가리봉동': '1153010300',
    '서울특별시 구로구 고척동': '1153010600',
    '서울특별시 구로구 개봉동': '1153010700',
    '서울특별시 구로구 오류동': '1153010800',
    '서울특별시 구로구 궁동': '1153010900',
    '서울특별시 구로구 온수동': '1153011000',
    '서울특별시 구로구 천왕동': '1153011100',
    '서울특별시 구로구 항동': '1153011200',
    '서울특별시 금천구': '1154500000',
    '서울특별시 금천구 가산동': '1154510100',
    '서울특별시 금천구 독산동': '1154510200',
    '서울특별시 금천구 시흥동': '1154510300',
    '서울특별시 영등포구': '1156000000',
    '서울특별시 영등포구 영등포동': '1156010100',
    '서울특별시 영등포구 영등포동1가': '1156010200',
    '서울특별시 영등포구 영등포동2가': '1156010300',
    '서울특별시 영등포구 영등포동3가': '1156010400',
    '서울특별시 영등포구 영등포동4가': '1156010500',
    '서울특별시 영등포구 영등포동5가': '1156010600',
    '서울특별시 영등포구 영등포동6가': '1156010700',
    '서울특별시 영등포구 영등포동7가': '1156010800',
    '서울특별시 영등포구 영등포동8가': '1156010900',
    '서울특별시 영등포구 여의도동': '1156011000',
    '서울특별시 영등포구 당산동1가': '1156011100',
    '서울특별시 영등포구 당산동2가': '1156011200',
    '서울특별시 영등포구 당산동3가': '1156011300',
    '서울특별시 영등포구 당산동4가': '1156011400',
    '서울특별시 영등포구 당산동5가': '1156011500',
    '서울특별시 영등포구 당산동6가': '1156011600',
    '서울특별시 영등포구 당산동': '1156011700',
    '서울특별시 영등포구 도림동': '1156011800',
    '서울특별시 영등포구 문래동1가': '1156011900',
    '서울특별시 영등포구 문래동2가': '1156012000',
    '서울특별시 영등포구 문래동3가': '1156012100',
    '서울특별시 영등포구 문래동4가': '1156012200',
    '서울특별시 영등포구 문래동5가': '1156012300',
    '서울특별시 영등포구 문래동6가': '1156012400',
    '서울특별시 영등포구 양평동1가': '1156012500',
    '서울특별시 영등포구 양평동2가': '1156012600',
    '서울특별시 영등포구 양평동3가': '1156012700',
    '서울특별시 영등포구 양평동4가': '1156012800',
    '서울특별시 영등포구 양평동5가': '1156012900',
    '서울특별시 영등포구 양평동6가': '1156013000',
    '서울특별시 영등포구 양화동': '1156013100',
    '서울특별시 영등포구 신길동': '1156013200',
    '서울특별시 영등포구 대림동': '1156013300',
    '서울특별시 영등포구 양평동': '1156013400',
    '서울특별시 동작구': '1159000000',
    '서울특별시 동작구 노량진동': '1159010100',
    '서울특별시 동작구 상도동': '1159010200',
    '서울특별시 동작구 상도1동': '1159010300',
    '서울특별시 동작구 본동': '1159010400',
    '서울특별시 동작구 흑석동': '1159010500',
    '서울특별시 동작구 동작동': '1159010600',
    '서울특별시 동작구 사당동': '1159010700',
    '서울특별시 동작구 대방동': '1159010800',
    '서울특별시 동작구 신대방동': '1159010900',
    '서울특별시 관악구': '1162000000',
    '서울특별시 관악구 봉천동': '1162010100',
    '서울특별시 관악구 신림동': '1162010200',
    '서울특별시 관악구 남현동': '1162010300',
    '서울특별시 서초구': '1165000000',
    '서울특별시 서초구 방배동': '1165010100',
    '서울특별시 서초구 양재동': '1165010200',
    '서울특별시 서초구 우면동': '1165010300',
    '서울특별시 서초구 원지동': '1165010400',
    '서울특별시 서초구 잠원동': '1165010600',
    '서울특별시 서초구 반포동': '1165010700',
    '서울특별시 서초구 서초동': '1165010800',
    '서울특별시 서초구 내곡동': '1165010900',
    '서울특별시 서초구 염곡동': '1165011000',
    '서울특별시 서초구 신원동': '1165011100',
    '서울특별시 강남구': '1168000000',
    '서울특별시 강남구 역삼동': '1168010100',
    '서울특별시 강남구 개포동': '1168010300',
    '서울특별시 강남구 청담동': '1168010400',
    '서울특별시 강남구 삼성동': '1168010500',
    '서울특별시 강남구 대치동': '1168010600',
    '서울특별시 강남구 신사동': '1168010700',
    '서울특별시 강남구 논현동': '1168010800',
    '서울특별시 강남구 압구정동': '1168011000',
    '서울특별시 강남구 세곡동': '1168011100',
    '서울특별시 강남구 자곡동': '1168011200',
    '서울특별시 강남구 율현동': '1168011300',
    '서울특별시 강남구 일원동': '1168011400',
    '서울특별시 강남구 수서동': '1168011500',
    '서울특별시 강남구 도곡동': '1168011800',
    '서울특별시 송파구': '1171000000',
    '서울특별시 송파구 잠실동': '1171010100',
    '서울특별시 송파구 신천동': '1171010200',
    '서울특별시 송파구 풍납동': '1171010300',
    '서울특별시 송파구 송파동': '1171010400',
    '서울특별시 송파구 석촌동': '1171010500',
    '서울특별시 송파구 삼전동': '1171010600',
    '서울특별시 송파구 가락동': '1171010700',
    '서울특별시 송파구 문정동': '1171010800',
    '서울특별시 송파구 장지동': '1171010900',
    '서울특별시 송파구 방이동': '1171011100',
    '서울특별시 송파구 오금동': '1171011200',
    '서울특별시 송파구 거여동': '1171011300',
    '서울특별시 송파구 마천동': '1171011400',
    '서울특별시 강동구': '1174000000',
    '서울특별시 강동구 명일동': '1174010100',
    '서울특별시 강동구 고덕동': '1174010200',
    '서울특별시 강동구 상일동': '1174010300',
    '서울특별시 강동구 길동': '1174010500',
    '서울특별시 강동구 둔촌동': '1174010600',
    '서울특별시 강동구 암사동': '1174010700',
    '서울특별시 강동구 성내동': '1174010800',
    '서울특별시 강동구 천호동': '1174010900',
    '서울특별시 강동구 강일동': '1174011000'
}

In [35]:
# df3에 행정코드 추가
df3['행정코드'] = df3['법정동명'].map(seoul_districts)

In [36]:
df3.head()

            법정동명  지형높이코드    지형높이  구단위        행정코드
0  서울특별시 종로구 청운동       3     완경사  종로구  1111010100
1  서울특별시 종로구 청운동       0  지정되지않음  종로구  1111010100
2  서울특별시 종로구 청운동       4     급경사  종로구  1111010100
3  서울특별시 종로구 청운동       3     완경사  종로구  1111010100
4  서울특별시 종로구 청운동       0  지정되지않음  종로구  1111010100